* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

a {
    margin-left: 4px;
}

body {
    background: #009CCC;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    justify-content: center;
}